[Desktop Entry]
Encoding=UTF-8
Name=Time Slider
Comment=Configure the system to take automatic snapshots of your data
Terminal=false
Type=Application
StartupNotify=true
Exec=time-slider-setup
Icon=time-slider-setup
Categories=Application;System;Settings
