[Desktop Entry]
Encoding=UTF-8
Name=Time Slider
Name[ar]=شريط تمرير الوقت 
Name[ca]=Time Slider
Name[cs]=Time Slider
Name[de]=Zeit-Schieberegler
Name[es]=Deslizador de tiempo
Name[fr]=Curseur temporel
Name[hu]=Time Slider
Name[id]=Time Slider
Name[it]=Time Slider
Name[ja]=タイムスライダ
Name[ko]=시간 슬라이더
Name[nl]=Tijd glijder
Name[pl]=Time Slider
Name[pt_BR]=Barra deslizante de tempo
Name[zh_CN]=时间滑块
Name[zh_HK]=時間滑動軸
Name[zh_TW]=時間滑動軸
Comment=Configure the system to take automatic snapshots of your data
Comment[ar]=تاكيد النظام على أخذ صورة عن النظام عن البيانات 
Comment[ca]=Configurar el sistema per a fer instantànies automàtiques de les vostres dades
Comment[cs]=Nakonfigurujte si systém tak, aby vytvářel automatické snímky Vašich dat
Comment[de]=System für automatische Snapshots Ihrer Daten konfigurieren
Comment[es]=Configurar el sistema para tomar instantáneas de manera automática de los datos
Comment[fr]=Configurer le système de manière à prendre des instantanés automatiques des données
Comment[hu]=A rendszer beállítása arra, hogy automatikusan mentse az Ön adatait
Comment[id]=	
Comment[it]=Configurare il sistema per fare delle istantanee automatiche dei propri dati
Comment[ja]=自動的にデータのスナップショットを作成するようにシステムを構成します
Comment[ko]=사용자 데이터의 자동 스냅샷을 만들도록 시스템 구성
Comment[nl]=Configureer het systeem om automatische momentopnamen van je gegevens te nemen
Comment[pl]=Skonfiguruj system do automatycznego wykonywania migawek twoich danych 
Comment[pt_BR]=Configurar o sistema para realizar instantâneos automáticos dos dados
Comment[zh_CN]=将系统配置为自动捕获数据的快照
Comment[zh_HK]=將系統配置為自動對資料執行快照
Comment[zh_TW]=將系統配置為自動對資料執行快照
Terminal=false
Type=Application
StartupNotify=true
Exec=time-slider-setup
Icon=time-slider-setup
Categories=Application;System;Settings
