[Desktop Entry]
Encoding=UTF-8
Name=Time Slider notification applet
Comment=Show Time Slider status and notifications
Icon=time-slider-setup
Exec=/usr/lib/time-slider-notify
Terminal=false
Type=Application
Categories=
X-GNOME-Autostart-enabled=true
