[Unit]
Description=Time slider daemon
After=zfs.target

[Service]
ExecStart=/usr/libexec/time-sliderd --foreground

[Install]
WantedBy=multi-user.target
