[Unit]
Description=Time slider daemon
After=zfs.target

[Service]
ExecStart=/usr/bin/python /usr/lib/time-sliderd --foreground

[Install]
WantedBy=multi-user.target
